
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Credit1', '#' %>   <!-- Actividades programadas -->
  <%= link_to 'Credit2', '#' %> <!-- Eventos, Estadio, Macarena, TT, JPII... -->
  <%= link_to 'Credit3', '#' %>  <!-- Agenda -->

</nav>


<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Datos / Créditos </span> <%= link_to 'Back', finanzas_path %>
   <span> Coltax OnLine </span> </h3>
  <h4> Créditos financieros </h4>
  </center>

  <P>
  <nav>
    <ul>
        <li> Credit 1 </li>
        <li> Credit 2 </li>
        <li> ----------------- </li>

    </ul>
  </nav>

</div>
