
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
    |<%= link_to 'Día', movements_path %>  <!-- Día, nuevo, consolidados -->

    |<%= link_to 'Rutas exentas', '#' %>  <!-- Pagos x infracciones  -->

    |<%= link_to 'Show', show_path %>   <!-- Ayudas, Enlaces -->
</nav>

<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Normas / MovMed / P&P </span>
    <span> Secretaria Transportes y Tránsito </h3>
  <H4> Movilidad Medellín </h4>

  <P style="font-color=blue">


    <a href="https://www.medellin.gov.co/movilidad/de-interes/pico-placa" target=_blank> P&P 2019 [II]

    <br><br>  ___________________________________  <br><br>
    <a href="https://www.facebook.com/sttmed/videos/vb.130379783504/469704190244138/?type=2&theater" target=_blank> Metro de Medellin

    <br><br>  ___________________________________  <br><br>
  </P>
  </center>


  <br><br>  ___________________________________  <br><br>
  <nav>
    <ul class='navy' style="list-style: none; padding: 0 10px;">
      <li><P><%= image_tag '2019_I&Tx.jpg', style: 'width: 100%;', id:'cat8b'%></P> Pico y Placa 2018 II </li>
      <li><P><%= image_tag '2019_I&PM.jpg', style: 'width: 100%;', id:'cat8a'%></P> Pico y Placa 2018 II </li>
      <li><a href="https://www.medellin.gov.co/movilidad/de-interes/pico-placa" target=_blank> P&P 2019 [II] </li>
<!--
      <li><P><%= image_tag '2018_II&.jpg', style: 'width: 100%;', id:'cat8c'%></P> Pico y Placa 2018 II </li>
      <li><P><%= image_tag '2018_I&.png',  style: 'width: 100%;', id:'cat8d'%></P> Pico y Placa 2018 I </li>
      <li><P><%= image_tag 'vias_ex.jpg', style: 'width: 100%;', id:'vias_ex'%></P> Vías exentas </li>
      <li><a href="http://www.calendariodecolombia.com/pico-y-placa/medellin" target=_blank> P&P Hoy 2018 [II] </li>
-->
      <li> Otros </li>
    </ul>
  </nav>

</div>
