
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %>  <!-- Día, nuevo, consolidados -->

  <%= link_to 'Código', '#' %>  <!-- Código -->
  <%= link_to 'Señales', '#' %>    <!-- Normas -->
  <%= link_to '?', '#' %>    <!-- Normas -->

</nav>

<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Normas / Leyes </span> <span>Coltax OnLine</span>
  </h3>

  <H4> Normatividad Legal</h4> </center>

  <P>
  <nav>
    <ul><li> ABC... </li>
        <li> Señales A, B, C </li>
        <li> Señales </li>
        <li> Otros </li>
        <li> Otros </li>
    </ul>
  </nav>

</div>
