

<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %>  <!-- Día, nuevo, consolidados -->

  <%= link_to 'Leyes', n_leyes_path %>  <!-- Leyes  -->

  <%= link_to 'CDA´s', '#' %>  <!-- Centros de Diagnóstico Automotriz  -->
  <%= link_to '?', '#' %>   <!-- nn -->

</nav>

<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Normas</span> <span>Ministerio Nacional de Transporte</span>
  </h3>

  <H4> Normatividad  </h4> </center>

  <P>
  <nav>
    <ul><li> ABC... </li>
      <li>-------------------------------</li>
      <li> Mintrans ... </li>
      <li>-------------------------------</li>
      <li> STT Medellín </li>
      <li>-------------------------------</li>
      <li> Alls </li>
      <li> Simit </li>
      <li>-------------------------------</li>
      <li> Otros </li>
      <li>-------------------------------</li>

        <li> Leyes ... </li>
          <li> Códigos </li>
          <li> Decretos </li>

          <li> Otros </li>
    </ul>
  </nav>

</div>
