

<nav class="header-reg">
  <%= link_to 'Nuevo!', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Chat', rs_chat_path %>  <!-- Enlaces online -->
  <%= link_to 'Agenda', rs_agenda_path %>  <!-- Agenda -->
  <%= link_to 'Eventos', rs_eventos_path %> <!-- Eventos, Estadio, Macarena, TT, JPII... -->
  <%= link_to 'Notas', rs_notas_path %>    <!-- Notas -->
  <%= link_to '?', '#' %>  <!-- Pagos x infracciones  -->

</nav>

<h3 style="display: flex; justify-content: space-between; width: 100%;">
  <span>Redes</span> <%= link_to 'Back', movements_path %> <span>Coltax OnLine</span> </h3>

<hr class="separator">

<iframe width="458" height="257" src="https://www.youtube.com/embed/PbEEae8mMLw" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> Máximas de San Pablo de la Cruz IV </iframe>

<!-- <iframe width="458" height="257" src="https://www.youtube.com/embed/LugSZy4xg38?list=RDLugSZy4xg38"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe> -->

<hr class="separator">

<div> <center>
  <H4> Redes Sociales </h4> </center>

  <P>
  <nav>
    <ul><P>
        <li> <a href="http://caracol.com.co/emisora/medellin/"> <B>Caracol - Medellín</B> </a> </li>
        <li> <a href="https://radios.com.co/besame-medellin"> <B> La Voz de Colombia - Bésame </B> </a> </li>
        <li> <a href="https://envivo.besame.fm/"> <B> La Voz de Colombia - Bésame en vivo </B> </a> </li>

        <hr width=70%>
        <li> <a href="www"> <B> Blue Radio </B> </a> </li>
        <li> <a href="www"> <B> La W </B> </a> </li>

        <hr width=70%>
        <li> <a href="http://www.espn.com/fantasy/"> <B><I> ESPN </I></B> </a> </li>
        <li> <a href="http://www.+espn.com/fantasy/"><B><I> ESPN+ </I></B> </a> </li>

        <hr width=70%>
        <li> <a href="https://www.youtube.com/watch?v=FEkwlBVuxqM">
             <B> Las 100 Mejores Rancheras </B> </a> </li>

        <hr width=70%>
        <li> <a href="https://www.youtube.com/watch?v=sab0aARbjtY">
             <B> Si no TE CONFIESAS de tus PECADOS, SATANÁS te acusará en tu JUICIO </B> </a> </li>

    </ul>
  </nav>

  <hr width=70%>


  <!-- <hr class="separator"> -->
  <div style="background-color: white; ">
    <a href="https://twitter.com/i/status/1086216669670920193"> ► Rescate de peces en Río Cauca</a><br>
    <a href="https://twitter.com/i/status/1086216669670920193"> ► Rescate de peces en Río Cauca</a>
  </div>

  <div class="celeste">
    <h5 class="yellow"><a href="https://twitter.com/i/status/1086216669670920193"> ► Rescate de peces en Río Cauca</a></h5>
    <h6 class="red"><a href="https://twitter.com/i/status/1086216669670920193"> ► Rescate de peces en Río Cauca</a></h6>
  </div>


</div>
