
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Notas', rs_notas_path %> <!-- Notas Taller -->
  <%= link_to 'Agenda1', '#' %>   <!-- Actividades programadas -->
  <%= link_to 'Especiales', '#' %>  <!-- Agenda -->
  <%= link_to 'Festivos', '#' %>    <!-- Normas -->

</nav>


<div> <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Redes / Agenda</span>
    <span>Coltax OnLine</span>
  </h3>

  <H4> Agenda de Actividades </h4> </center>

  <P>
  <nav>
    <ul>
        <li> Agenda 1 </li>
        <li> Agenda 2 </li>
        <li> ----------------- </li>

    </ul>
  </nav>

</div>
