

<nav class="header-reg">
  <%= link_to 'Nuevo!', new_movement_path %>   <!-- Nuevo registro -->
  <%= link_to 'Día', movements_path %>  <!-- Día, nuevo, consolidados -->

  <%= link_to 'Alertas', '#' %>  <!-- Alertas, cierres, Operativos -->
  <%= link_to 'Mensajes', '#' %>  <!-- Mensajes a todos en plataforma -->

</nav>

<div> <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Redes / Chat</span> <%= link_to 'Back', redes_path %> <span>Coltax OnLine</span>
  </h3>
  <H4> Chat </h4> </center>

  <P>
  <nav>
    <ul><li> Bla, bla, bla... </li>
        <li> 1 a 1 </li>
        <li> Alls </li>
        <li> Otros </li>
    </ul>
  </nav>

</div>
