
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Evento1', '#' %>   <!-- Actividades programadas -->
  <%= link_to 'Evento2', '#' %> <!-- Eventos, Estadio, Macarena, TT, JPII... -->
  <%= link_to 'Evento3', '#' %>  <!-- Agenda -->

</nav>


<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Redes / Eventos</span>
    <span>Coltax OnLine</span>
  </h3>

  <H4> Eventos de Actividades </h4> </center>

  <P>
  <nav>
    <ul>
        <li> Eventos 1 </li>
        <li> Eventos 2 </li>
        <li>   </li>
        
        <hr width=70%>
        <li> <a href="http://caracol.com.co/agr/feria_de_las_flores_2018/a/"> <B>Feria de Las Flores</B>  </a> </li>
        <li> <a href="http://www.elcolombiano.com/especiales/feria-de-las-flores/programacion-feria-de-flores-2018-sabado-11-de-agosto-ND9140690">
             <B>Feria de Las Flores - Sábado</B> </a> </li>


    </ul>
  </nav>

</div>
