
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Notas1', '#' %>   <!-- Actividades programadas -->
  <%= link_to 'Notas2', '#' %> <!-- Eventos, Estadio, Macarena, TT, JPII... -->
  <%= link_to 'Keep', 'https://keep.google.com' %>  <!-- Agenda -->

</nav>


<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Redes </span>  <span>Coltax OnLine</span> </h3>

  <H4> Notas </h4> </center>

  <br>
  <nav>
    <ul><li> Notas 1 </li>
        <li> Notas 2 </li>

       <li> <a href=""> <B> </B> </a> </li>

       <li> <a href="https://twitter.com/i/status/1094732674512703490">
         <B> Golazo de Quintero en el partido River-Racing </B> </a> </li>

       <li> <a href="https://twitter.com/i/status/1092943552085143553">
         <B>Ecología - ¡Aprenda bruto!</B>  </a> </li>

       <li> <a href=""> <B> </B> </a> </li>

       <li> <a href="https://twitter.com/i/status/1090812241568583680">
         <B>Motorola Startup V3 - Movistar</B> </a> </li>

       <li> <a href=""> <B> </B> </a> </li>

       <li> <a href="https://twitter.com/i/status/1088140542364524546">
         <B>Así se ve el Puente de Táriba, Táchira, Venezuela.</B> </a> </li>

       <li> <a href="https://twitter.com/i/status/1088187176997871620">
         <B>El idioma en Kazajstán suena como si trataras de arrancar un automóvil cuando está muy frío.</B> </a> </li>

       <li> <a href=""> <B> </B> </a> </li>

       <li> <a href="https://twitter.com/i/status/896194185858076674">
         <B>Sir Nicholas Winton y los niños judíos</B> </a> </li>

       <li> <a href=""> <B> </B> </a> </li>

       <li> <a href="https://twitter.com/i/status/1087790772290752512">
         <B>“La triada”, pilar solar, parhelios y arco iris todo a la vez.</B> </a> </li>

       <li> <a href=""> <B> </B> </a> </li>

       <hr width=70%>
       <li> <a href="http://caracol.com.co/agr/feria_de_las_flores_2018/a/"> <B>Feria de Las Flores</B>  </a> </li>
       <li> <a href="http://www.elcolombiano.com/especiales/feria-de-las-flores/programacion-feria-de-flores-2018-sabado-11-de-agosto-ND9140690">
            <B>Feria de Las Flores - Sábado</B> </a> </li>

       <li> • Wave Davis - "Colombia es el taller de Dios"  </li>

    </ul>
  </nav>

</div>
