
<div class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Ver', see_all_path %> <!-- Día, sems, mes, total_año -->

  <%= link_to 'Mec_Aut', tr_tutors_path %>  <!-- Manuales, Tutoriales -->
  <%= link_to 'Repuestos', '#' %>  <!-- ?  -->
  <%= link_to 'Rev_Rep', '#' %>  <!-- ?  -->
  <%= link_to '?', '#' %>  <!-- ?  -->
</div>


<div style = "color: black"; > <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Otros / Taller </span> <%= link_to 'Back', data_path %> <span>Coltax OnLine</span> </h3>
  <H4> Mecánica Automotriz </h4> </center>

  <table class="table table-hover table-striped datatable-plugin">
    <thead>
      <tr>
        <th>Fecha</th>
        <th> Descripciones </th>
        <th>T</th>
        <th>Valor</th>
        <th>Nº</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <!-- Registros Taller  -->
    <tbody>
      <% @movements.each_with_index do |movement, index| %>
        <tr>
          <td><% unless movement.mov_date.nil? %>
                <%= movement.mov_date.strftime('%m/%d') + ' ' + movement.mov_hour %>
                <!-- <td><%= movement.created_at.strftime('%m/%d %H%M') %></td> -->
              <% end %> </td>
          <td><%= movement.description %></td>
          <td><%= movement.mov_type %></td>
          <td align="right"><%= to_currency(movement.price) %></td>

          <td><%= index + 1 %></td>

          <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
          <td><%= link_to 'Delete', movement, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <hr class="separator" style="marin0">
  <h6 style="display: flex; justify-content: space-between; width: 100%;">
    <span> ♦ Ver </span> <%= link_to '◄', see_all_path %>
    <%= link_to '►', contab_path %> <span> Contab ♦ </span> </h6>
  <hr class="separator">

  <!-- Estado general Consolidado / 2018 -->

  <br>
  <nav>
    <ul><li> Taller 1 </li>
        <li> Taller 2 </li>
        <li>   </li>

    </ul>
  </nav>


  <nav>
  <ul><li>  1    </li>
      <li>  2    </li>
      <li> --------------------------------------------- </li>
      <li> Mes                                  $ 777000 </li>
      <li> --------------------------------------------- </li>
      <li> Otros... </li>
      <li> ----------------- </li>

  </ul>
</nav>

</div>
