
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Athos', vx_athos_path %>  <!-- Estados, Informs, imprs -->
  <%= link_to 'Dimax', vc_dimax__path %>   <!-- ... -->
  <%= link_to 'Golf', vc_golf__path %>   <!-- ... -->
  <%= link_to 'Piaggio', vm_piaggio_path %>   <!-- ENX31A -->
</nav>


<div style = "color: white"; > <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Flota </span> ◄ <%= link_to '◄',tr_flota_path %>
    <%= link_to '►', data_path %> ► <span>Coltax OnLine</span> </h3>
  <h4> Coltrans - Operación Nacional </h4>
</center>

  <P>
  <nav>
    <ul><li> Autos </li>
        <li> Videos </li>
        <li> ----------------- </li>
        <li> Autocab </li>
        <li> Cursos </li>
        <li> ----------------- </li>
        <li> Especiales </li>
    </ul>
  </nav>

  <P><center><h3> Volkswagwn Golf - MAP654 </h3> </center>

  <table width=100%> <P>
    <tr><td class="olive2">
            <nav class="header-reg">
              <ul><li> Almacenes </li>
                  <li> Manuales </li>
                  <li> Repuestos </li>
              </ul>
            </nav>
        </td>

        <td> </td>

        <td class="olive3">
            <nav class="header-reg">
              <ul><li> Serviteca </li>
                  <li> Mecánicos </li>
                  <li> Tutoriales </li>
              </ul>
            </nav>
        </td>
    </tr>

    <tr><td class="darkgreen" colspan=6> <center>
            <nav class="header-reg marin3">
              <ul><li> Club Motoristas de Antioquia </li> </ul>
            </nav> </center>
        </td>
    </tr>
  </table>

</div>
