
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Club', '#' %>  <!-- Item -->
  <%= link_to 'Piaggio_Tr', '#' %>   <!-- ENX31A -->
  <%= link_to '?', '#' %>  <!-- Item -->
</nav>


<div style = "color: white"; >
  <center>
    <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Autos </span> <%= link_to '◄', vc_autos_path %>
    <%= link_to '►', tr_flota_path %> <span>Coltax OnLine</span> </h3>
    <h4> Coltrans - Operación Nacional </h4>
  </center>

  <P>
  <nav>
    <ul><li> Piaggio </li>
        <li> Especiales </li>
        <li> ----------------- </li>
        <li> Cursos </li>
        <li> Normas </li>
        <li> Videos </li>
        <li> ----------------- </li>
    </ul>
  </nav>

  <P><center><h3> Piaggio Sphera - ENX31A </h3> </center>

  <table width=100%> <P>
    <tr><td class="olive2">
            <nav class="header-reg">
              <ul><li> Almacenes </li>
                  <li> Manuales </li>
                  <li> Repuestos </li>
              </ul>
            </nav>
        </td>

        <td> </td>

        <td class="olive3">
            <nav class="header-reg">
              <ul><li> Serviteca </li>
                  <li> Mecánicos </li>
                  <li> Tutoriales </li>
              </ul>
            </nav>
        </td>
    </tr>

    <tr><td class="darkgreen" colspan=6> <center>
            <nav class="header-reg marin3">
              <ul><li> Club Piaggio de Antioquia </li> </ul>
            </nav> </center>
        </td>
    </tr>
  </table>

</div>
