

<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Bitácora', vx_athos_bitac_path %>   <!-- ... -->
  <%= link_to 'Matrícula', vx_athos_matric_path %>   <!-- ... -->
  <%= link_to 'Serviteca', '#' %>   <!-- ... -->

  <%= link_to '?', '#' %>   <!-- ... -->
</nav>


<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Autos / Andaluz / Athos Prime </span>
    <span>Coltax OnLine</span>
  </h3>

  <h4> Hyundai Athos 2012 1.1 </h4>
</center>

  <P>
  <nav>
    <ul><li> ----------------- </li>
        <li> Andaluz 1 </li>
        <li> Autocab </li>
        <li> Cursos </li>
        <li> ----------------- </li>
        <li> Festivos </li>
        <li> Domingo libre </li>

    </ul>
  </nav>

</div>
