
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Trámites', '#' %>   <!-- ... -->
  <%= link_to 'Taxímetro', '#' %>   <!-- ... -->
  <%= link_to 'Tec_Mec', '#' %>   <!-- ... -->
  <%= link_to '?', '#' %>   <!-- ... -->
</nav>


<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Autos </span> <%= link_to 'Back', vx_andaluz_path %>
    <span>Coltax OnLine</span>
  </h3>

  <h4> Andaluz </h4>
</center>

  <P>
  <nav>
    <ul><li> Andaluz  </li>
        <li> Autocab </li>
        <li>   </li>
        <li> Cursos </li>
        <li>   </li>

    </ul>
  </nav>

</div>
