
<nav class="header-reg">
  <%= link_to 'Nuevo_', new_bank_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Bogotá1', '#' %> <!-- ... -->
  <%= link_to 'Bogotá2', '#' %> <!-- ... -->
  <%= link_to 'Credit', credit_path %>  <!-- ... -->
  <%= link_to 'Leasing', '#' %>  <!-- Agenda -->
</nav>


<div> <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Bancos / Bogotá </span> <%= link_to 'Back', banks_path %>
    <span>Coltax OnLine</span> </h3>
  <h4> Banco de Bogotá </h4> </center>

  <P>
  <nav>
    <ul>
        <li> Header </li>
        <li> Bogotá </li>
        <li> Bogotá_1 </li>
        <li> ----------------- </li>

    </ul>
  </nav>

</div>
