
<nav class="header-reg">
  <%= link_to 'Nuevo_', new_bank_path %>
  <%= link_to 'Día', movements_path %> <!-- Día, nuevo, consolidados -->

  <%= link_to 'Apart', '#' %> <!-- ... -->
  <%= link_to 'Casa', '#' %>  <!-- Agenda -->
  <%= link_to 'Credit', credit_path %>  <!-- Creditos, Financiaciones, .. -->
  <%= link_to 'Otros', '#' %> <!-- ... -->
</nav>


<div> <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Bancos / Davivienda </span> <%= link_to 'Back', banks_path %>
    <span>Coltax OnLine</span> </h3>

  <h4> Davivienda </h4>
  </center>

  <P>
  <nav>
    <ul>
        <li> Bancolombia </li>
        <li> nn </li>
        <li> nn </li>
        <li> ----------------- </li>

    </ul>
  </nav>

</div>
