<!-- Bancos -->
<nav class="header-reg">
  <%= link_to 'Nuevo!', new_bank_path %>

  <%= link_to 'BanCol', b_bancol_path %> <!-- Actividades programadas -->
  <%= link_to 'Bogotá', b_bogota_path %> <!-- ... -->
  <%= link_to 'Daviv ', b_daviv_path %>  <!-- Agenda -->
  <%= link_to 'Otros ', '#' %> <!-- Actividades programadas -->
</nav>

<div> <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span> Datos / Bancos </span> <%= link_to 'Back', data_path %>
    <span> Coltax OnLine </span> </h3>
  <h4> Bancos y Corp_Ahorros </h4> </center>
</div>

<table class="table table-hover table-striped datatable-plugin">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Detalle</th>
      <th>Cuenta</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>CB</th>
      <th>Banco</th>
      <th>Balance</th>
      <!-- <th>Users</th> -->
      <th>Vf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each_with_index do |bank, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= bank.created_at.strftime('%m/%d') %></td>
        <td><% unless bank.created_at.nil? %>
              <%= bank.created_at.strftime('%H:%M') %>
            <% end %>
        <!--  + ' ' + bank.created_at_hour -->
        </td>
        <td><%= bank.detail %></td>
        <td><%= bank.puc %></td>
        <td><%= bank.trans_type %></td>
        <td><%= bank.trans_value %></td>

        <td><%= bank.bank_id %></td>
        <td><%= bank.bank %></td>
        <td><%= bank.balance + 1 %></td>
        <td><%= bank.verified %></td>

        <!-- <td><%= link_to 'Show', bank %></td> -->
        <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
        <td><%= link_to 'Delete', bank, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>


  <!-- Estados Bancarios -->
  <hr class="separator">
  <h6 style="display: flex; justify-content: space-between; width: 100%;">
    <span> ♦ Datos </span> <%= link_to '◄', data_path %>
    <%= link_to '►', banks_path %> <span> Bancos <%= Time.now.strftime("%Y")%> ♦ </span> </h6>
  <hr class="separator">

  <div class="row">
    <div class="col-xs-2 blue0"><h6>Bancos</h6></div>
    <div class="col-xs-2 blue0"><h6>Dia</h6></div>
    <div class="col-xs-2 blue0"><h6>Sem</h6></div>
    <div class="col-xs-2 blue0"><h6>Mes</h6></div>
    <div class="col-xs-3 blue0"><h6>Total</h6></div>
    <div class="col-xs-1 blue0"><h6> ♣ </h6></div>
  </div>

  <div class="row">
    <div class="col-xs-2 yellow"><h6 class="black">Bank<span class="blue_f">¹</span>_dp</h6></div>
    <div class="col-xs-2 fuchs4"><h6><%= to_currency(@ad_bd) %></h6></div>
    <div class="col-xs-2 glima4"><h6><%= to_currency(@aw_bd) %></h6></div>
    <div class="col-xs-2 marin4"><h6><%= to_currency(@am_bd) %></h6></div>
    <div class="col-xs-3 marin2"><h6><%= to_currency(@ay_bd) %></h6></div>
    <div class="col-xs-1 blue  "><h5><%= to_currency(@nn_n ) %></h5></div>
  </div>
  <div class="row">
    <div class="col-xs-2 yellow"><h6 class="black">Bank<span class="blue_f">²</span>_rt</h6></div>
    <div class="col-xs-2 fuchs2"><h6><%= to_currency(@ad_br) %></h6></div>
    <div class="col-xs-2 glima2"><h6><%= to_currency(@aw_br) %></h6></div>
    <div class="col-xs-2 marin2"><h6><%= to_currency(@am_br) %></h6></div>
    <div class="col-xs-3 marin1"><h6><%= to_currency(@ay_br) %></h6></div>
    <div class="col-xs-1 blue1 "><h5><%= to_currency(@nn_n ) %></h5></div>
  </div>
  <div class="row">
    <div class="col-xs-2 yellow"><h6 class="black">Bank<span class="blue_f">³</span>_pg</h6></div>
    <div class="col-xs-2 fuchs1"><h6><%= to_currency(@ad_bc) %></h6></div>
    <div class="col-xs-2 marin2"><h6><%= to_currency(@aw_bc) %></h6></div>
    <div class="col-xs-2 marin1"><h6><%= to_currency(@am_bc) %></h6></div>
    <div class="col-xs-3 marin0"><h6><%= to_currency(@ay_bc) %></h6></div>
    <div class="col-xs-1 blue  "><h5><%= to_currency(@nn_n ) %></h5></div>
  </div>
  <div class="row">
    <div class="col-xs-2 yellow"><h6 class="black">Bank<span class="blue_f">°</span>_cb</h6></div>
    <div class="col-xs-2 fuchsi"><h6><%= to_currency(@ad_bo) %></h6></div>
    <div class="col-xs-2 marin1"><h6><%= to_currency(@aw_bo) %></h6></div>
    <div class="col-xs-2 marin0"><h6><%= to_currency(@am_bo) %></h6></div>
    <div class="col-xs-3 marina"><h6><%= to_currency(@ay_bo) %></h6></div>
    <div class="col-xs-1 blue1 "><h6><%= to_currency(@nn_n ) %></h6></div>
  </div>

  <div class="row" border=1>
    <div class="col-xs-2 blue0"><h6 class="white text-center">Neto</h6></div>
    <div class="col-xs-2 blue0"><h6><%= to_currency(@ad_nb) %></h6></div>
    <div class="col-xs-2 blue0"><h6><%= to_currency(@aw_nb) %></h6></div>
    <div class="col-xs-2 blue0"><h6><%= to_currency(@am_nb) %></h6></div>
    <div class="col-xs-3 blue0"><h6><%= to_currency(@ay_nb) %></h6></div>
    <div class="col-xs-1 blue0"><h6><%= to_currency(@nn_n ) %></h6></div>
  </div>

  <hr class="separator">


  <h3 style="display: flex; justify-content: space-between; width: 100%;">
      <span>  Bancos </span> <%= link_to 'Back', finanzas_path %> <span>/ Coltax </span> </h3>

  <table width=100%>
    <tr><td class="olive3">
            <nav class="header-reg">
              <ul><li> Bancolombia </li>
                  <li> Citi Bank </li>
                  <li> Davivienda </li>
              </ul>
            </nav>
        </td>

        <td class="green2">
            <nav class="header-reg">
              <ul><li> Banco Agrario </li>
                  <li> Bogotá Ap </li>
                  <li> Bogotá Md </li>
              </ul>
            </nav>
        </td>
    </tr>

    <tr><td class="blue1" colspan=1>
            <nav class="header-reg">
              <ul><li> Banco de Colombia </li>
                <li> BIC </li>
                <li> Conavi </li>
                <li> BCSH_Colmena </li>
              </ul>
            </nav>
        </td>

        <td class="green2">
            <nav class="header-reg">
              <ul><li> Ban_Agrario </li>
                  <li> BCH </li>
                  <li> Cial_Antioqueño </li>
                  <li> Ganadero </li>
              </ul>
            </nav>
        </td>

    </tr>

    <tr>
        <td class="darkgreen" colspan=2>
            <nav class="header-reg green">
              <ul><li> Cooperativa de Ahorros de Antioquia </li>
              </ul>
            </nav>
        </td>
    </tr>
  </table>

<hr class="separator">
<h3 class="white">Footer</h3>
<h4 class="navy"><span><%= link_to 'Return Finances', finanzas_path %></span></h4>
<hr class="separator">
